.tag-price {
  padding: 2px 15px;
  background-color: #167FFB;
  border-radius: 50px;
  font-size: 16px;
}

.min-vw-25 {
  height: 25vh;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-center {
  object-position: center;
}
