.price-box-green {
  padding: 2px 15px;
  border: 1px solid #E67E22;
  border-radius: 50px;
  font-size: 16px;
}

.address-box-grey {
  padding: 2px 15px;
  background-color: #343a40;
  border-radius: 50px;
  font-size: 16px;
}

.min-vw-25 {
  height: 25vh;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-center {
  object-position: center;
}

.exit-button{
  color: lightgrey;
  &:hover {
    color: darkgrey;
  }
}
