<%= link_to scooter_path(@scooter) do %>
<i class="fas fa-chevron-circle-left ml-3 mt-3 exit-button" style="font-size: 48px;"></i>
<% end %>

<div class="container">
  <h1>Create new booking</h1>

  <%= render 'form', scooter: @scooter, booking: @booking %>
</div>

