<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1538895490524-0ded232a96d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Lets Scoot! </h1>
<!--     <p>
      <span id="banner-typed-text"></span>
    </p> -->
    <p> Tour the city as a local. Your scooter in 3, 2, 1 ...</p>
    <a class="btn btn-gradient" href="#" >Rent your bike now</a>
  </div>
</div>
