<%= link_to owned_scooters_path do %>
<i class="fas fa-chevron-circle-left ml-3 mt-3 exit-button" style="font-size: 48px;"></i>
<% end %>


<h1>Editing Scooter</h1>

<%= render 'form', scooter: @scooter %>

<%= link_to 'Show', @scooter %> |
<%= link_to 'Back', scooter_path %>


