<%= link_to scooters_path do %>
<i class="fas fa-chevron-circle-left ml-3 mt-3 exit-button" style="font-size: 48px;"></i>
<% end %>

<div class="container">
  <h1>Add a new Scooter</h1>
</div>

<%= render 'form', scooter: @scooter %>

