.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 30px;
}
.marker {
  background-image: url('scooter1.png');
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

